body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	text-decoration: none;
	line-height: 16px;
}
form {
	line-height: 30px;
}
form label {
	font-weight: bold;
	width: 100px;
	float: left;
}

.confirm {
	color: #036;
	font-style: italic;
}
th {
	font-weight: bold;
	color: #FFF;
	background: #333;
	height: 15px;
	line-height: 15px;
	text-align: center;
	padding-left: 5px;
}
td {
	height: 15px;
	line-height: 15px;
	border-bottom: solid 1px #CCC;
	text-align: center;
	padding-left: 5px;
}
/* search */
#criterio {
	width: auto;
}
#btbuscar {
	width: 70px;
	height: 24px;
}

label       { display: block; }
input,
textarea      
{
width: 200px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: 1px solid #BDC2C9;
}

fieldset
{
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}
select 
{
-webkit-appearance: button;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
   background-image: url(imagenes/flechita.png);
   background-position: center right;
   background-repeat: no-repeat;
}
a:hover
{
    text-decoration:none;
    
    color: #000000;
}
a:link   
{   
 text-decoration:none;
 color: #000000;   
}
.boton{
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background: #000000;
        border:1px;
       }
          
.correo{width: 180px;}
.numerico{width: 40px;}
.anio{width: 40px;}
.textarea{width: 350px;}
.supertextarea{width: 350px;}
.texto{width: 75px;}
.textoClasif{width: 100px;}
.correo{width: 140px;}
.diaMes{width: 20px;}
.botonChiquito{
    width: 20px;
    font-size: 8px;
    }
.tiempo{width: 25px;}
.tareas{width:800px;}